@CHARSET "UTF-8";

/*label{
	width: 13rem;
}*/

body {
	font-family: arial,sans-serif;
	margin: 0px;
	height: 100%;
	width: 100%;
	padding-bottom: 20px;
}


.jumbotron {
    background-image: url('../pictures/bergmitsee 2.jpg');
    background-size: cover;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn-haupt {
    width: 80px;
    height: 80px;
}

#dropdownMenuButton {
	background-color: rgb(27, 184, 213);
    border-color: rgb(27, 184, 213);
}

#textStart {
    color: #0F5A5D;
}

.navbar {
    font-family: sans-serif;
    font-size: 70%;
}

.Prover{
	color: white;
}

.Prover:hover {
	  color: rgb(235, 245, 251);
	}

footer {
	margin-top: 40px;
}

.page-footer {
	padding: 5px;
	height: auto;
	font-size: 11px;
	text-align: center;
	color: white;
	background-color: #424242;
}

.form-control {
	border-radius: 10px;
}

.f-control {
	width: 60%;
	border-radius: 10px;
}

.btn-info {
	background-color: rgb(27, 184, 213);
	border-color: rgb(27, 184, 213);
	color: white;
	width: 100px;
	border-radius: 10px;
    text-align: center;
}

.far {
	color: lightsteelblue;
}

.fas {
	color: #0F5A5D;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ecf3ff;
}

.table thead > tr > th {
	border-top: none;
}

.table {
	margin-top: 20px;
	margin-bottom: 20px;
}

.dropdown {
	margin-bottom: 20px;
}

.table.zuweisung {
	position: center;
	color: pink;
}

#zuweisung {
	margin: auto;
	margin-bottom: 30px;
	width: 80%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}


