<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Maracuja CSS -->
    <link rel="stylesheet" href="css/basic.css">
    
    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="pictures/favicon.png">

    <title>List Manager</title>
  </head>
    
  <body>
      <!-- header -->
      <div class="jumbotron jumbotron-fluid">
          <div class="col-md-12">
              <a href="/" class="btn">
                  <h1 class="Prover">PROVER</h1>
              </a>
              <p class="subtitle">PROJEKTMITARBEITER VERWALTUNGS TOOL</p>
          </div>
      </div>
      <!-- main content -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>List Manager</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <table class="table">
                          <tr>
                              <th>Name</th>
                              <th>Menge</th>
                          </tr>
                      <tr th:each="item : ${list}">
                          <td th:text="${item.getName()}">Ding 1</td>
                          <td th:text="${item.getQuantity()}">99</td>
                          <td><a href="" th:href="${'/item?id=' + item.getId()}">bearbeiten</a></td>
                          <td><a href="" th:href="${'/item/delete?id=' + item.getId()}">löschen</a></td>
                      </tr>
                  </table>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <a href="/item">Neues Item erstellen</a>
              </div>
          </div>
      </div> <!-- container -->
	  <!-- footer -->
      <footer>
          <div class="page-footer fixed-bottom">
              &#169; Created by TEAM Maracuja
          </div>
      </footer>
  </body>
</html>