<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Maracuja CSS -->
    <link rel="stylesheet" href="css/basic.css">
    
    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="pictures/favicon.png">

    <title>Projektmitarbeiter erfassen</title>
  </head>
    
  <body>
      <!-- header -->
      <div class="jumbotron jumbotron-fluid">
          <div class="col-md-12"> 
              <a href="/" class="btn">
                  <h1 class="Prover">PROVER</h1>
              </a>
              <p class="subtitle">PROJEKTMITARBEITER VERWALTUNGS TOOL</p>
          </div>
      </div>
      <!-- main content -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Projektmitarbeiter erfassen</h4>
              </div>
          </div>
          
          <form action="#" th:action="${postAction}" method="post" th:object="${projektmitarbeiterDetail}" class="needs-validation" novalidate>
              <div class="form-group">
                  <input type="hidden" name="projektmitarbeiterDetail.id" th:value="*{id}" />
              </div>
              
              <div class="row">
              	<div class="col-md-6">
              	  <div class="form-group">
                  	<label for="Vorname">Vorname</label> <br>
                  	<input class="form-control" type="text" name="projektmitarbeiterDetail.vorname" th:value="*{vorname}" pattern="^[A-Z][A-Za-z\s_%+-]{1,19}[a-z]$" required>
                  	<div class="invalid-feedback">
                  		Bitte gültigen Vornamen eingeben
                  	</div>
                  </div>
              	</div>
              	<div class="col-md-6">
              	  <div class="form-group">
                   	<label for ="Nachname">Nachname</label> <br>
                  	<input class="form-control" type="text" name="projektmitarbeiterDetail.nachname" th:value="*{nachname}" pattern="^[A-Z][A-Za-z\s_%+-]{1,19}[a-z]$" required>
                  	<div class="invalid-feedback">
                  		Bitte gültigen Nachnamen eingeben
                  	</div>
                  </div>
              	</div>
              </div>

              <div class="form-group">
                  <label for="E-Mail">E-Mail</label> <br>
                  <input class="form-control" type="text" name="projektmitarbeiterDetail.email" th:value="*{email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                  <div class="invalid-feedback">
                  		Bitte gültige E-Mail Adresse eingeben
                  	</div>
              </div>
              
              <div class="form-group">
                  <label for="Arbeitsort">Arbeitsort</label>
                  <select class="form-control" required="true" name="projektmitarbeiterDetail.arbeitsort" th:value="*{arbeitsort}">          
                    <option th:each="arbeitsortDetail : ${arbeitsortDetail}" th:text="${arbeitsortDetail.name}" th:value="${arbeitsortDetail.id}" >Arbeitsort</option>
                  </select>
                  <!-- <label>Abteilung:</label><input type="text" name="projektmitarbeiterDetail.abteilung" th:value="*{abteilung}" /><br> -->
              </div>
              
              <div class="form-group">
                  <label for="Abteilung">Abteilung</label>
                  <select class="form-control" required="true" name="projektmitarbeiterDetail.abteilung" th:value="*{abteilung}">
                    <option th:each="abteilungDetail : ${abteilungDetail}" th:text="${abteilungDetail.name}" th:value="${abteilungDetail.id}" >Abteilung</option>
                  </select>
              </div>
              
              <div class="row text-center">
              	<div class="col-sm">
              		<div class="form-group form-check-inline">
                  		<a href="/" class="btn btn-info" role="button">Menü</a>
              		</div>
              		<div class="form-group form-check-inline">
              	  		<input type="submit" class="btn btn-info" value="Speichern">
              		</div>
              	</div>
              </div>
          </form>
          
          <!-- JavaScript form validation -->
          <script>
                 var form = document.querySelector('.needs-validation');

                 form.addEventListener('submit', function(event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     }
                     form.classList.add('was-validated')
                 })
           </script>      
      </div> <!-- container -->
	  <!-- footer -->
      <footer>
          <footer>
          <div class="page-footer fixed-bottom">
              &#169; Created by TEAM Maracuja
          </div>
      </footer>
  </body>
</html>