<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- Icon reference -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Maracuja CSS -->
    <link rel="stylesheet" href="css/basic.css">
    
    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="pictures/favicon.png">

    <title>Projekte anzeigen</title>
  </head>
    
  <body>
      <!-- header -->
      <div class="jumbotron jumbotron-fluid">
          <div class="col-md-12">
              <a href="/" class="btn">
                  <h1 class="Prover">PROVER</h1>
              </a>
              <p class="subtitle">PROJEKTMITARBEITER VERWALTUNGS TOOL</p>
          </div>
      </div>
      <!-- main content -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Projekte anzeigen</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive">
                      <table class="table table-hover table-sm">
                          <thead>
                              <tr>
                                  <th scope="col">Nr</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Startdatum</th>
                                  <th scope="col">Enddatum</th>
                                  <th scope="col">Projektleitung</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                              </tr>
                          </thead>
                          <tr th:each="projekt: ${projektListe}">
                              <td th:text="${projekt.getId()}">ID</td>
                              <td th:text="${projekt.getName()}">Name</td>
                              <td th:text="${projekt.getStartdatum()}">Startdatum</td>
                              <td th:text="${projekt.getEnddatum()}">Enddatum</td>
                              <td th:text="${projekt.getPlDisplayName()}">PL Unbekannt</td>                         
                              <td>
                                  <a href="" th:href="${'/projektlesen?id=' + projekt.getId()}">
                          	          <i class="far fa-eye"></i>
                                  </a>
                              </td>
                              <td>
                                  <a href="" th:href="${'/projekt?id=' + projekt.getId()}">
                          	          <i class="far fa-edit"></i>
                                  </a>
                              </td>
                              <td>
                                  <a href="" th:href="${'/projektpmbearbeiten?id=' + projekt.getId()}">
                          	          <i class="far fa-user"></i>
                                  </a>
                              </td>
                              <td>
                                  <a href="" onclick="return confirm('Wollen Sie diesen Datensatz wirklich löschen?')" th:href="${'/projekt/loeschen?id=' + projekt.getId()}">
                          		      <i class="far fa-trash-alt"></i>
                        	      </a>
                        	  </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
          <div class="row text-center">
             <div class="col-sm">
             	<div class="form-group form-check-inline">
                  	<a href="/" class="btn btn-info" role="button">Menü</a>
                 </div>
                 <div class="form-group form-check-inline">
                  	<a href="/projekt" class="btn btn-info" role="button">Erfassen</a>
                  </div>
  			 </div>
          </div> 
      </div> <!-- container -->
	  <!-- footer -->
      <footer>
          <div class="page-footer fixed-bottom">
              &#169; Created by TEAM Maracuja
          </div>
      </footer>
  </body>
</html>