<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	

	<!--  Icon Reference -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Maracuja CSS -->
    <link rel="stylesheet" href="css/basic.css">
    
    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="pictures/favicon.png">

    <title>Projekt bearbeiten</title>
  </head>
    
  <body>
      <!-- header -->
      <div class="jumbotron jumbotron-fluid">
          <div class="col-md-12"> 
              <a href="/" class="btn">
                  <h1 class="Prover">PROVER</h1>
              </a>
              <p class="subtitle">PROJEKTMITARBEITER VERWALTUNGS TOOL</p>
          </div>
      </div>
      <!-- main content -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Projekt erfassen / bearbeiten</h4>
              </div>
          </div> <br>
          <div class="row">
              <div class="col-md-12">
                  <form action="#" th:action="${postAction}" method="post" th:object="${projektDetail}" class="needs-validation" novalidate>
                      <input type="hidden" name="projektDetail.id" th:value="*{id}" />
                      
                      <div class="row">
                      	<div class="col-md-2">
                      		<label>Name:</label>
                      	</div>
                      	<div class="col-md-10">
                      		<input class="form-control" type="text" name="projektDetail.name" th:value="*{name}" pattern="^[A-Z][A-Za-z0-9\s_%+-]{1,25}[a-z0-9]$" required />
                      		<div class="invalid-feedback">
                  				Bitte gültigen Namen eingeben
                  			</div>
                      	</div>
                      </div> <br>
                      <div class="row">
                      	<div class="col-md-2">
                      		<label>Startdatum:</label>
                      	</div>
                      	<div class="col-md-10">
                      		<input class="form-control" type="date" name="projektDetail.startdatum" th:value="*{startdatum}" required />
                      		<div class="invalid-feedback">
                  				Bitte Datum wählen
                  			</div>
                      		<!-- <span class="form-control-feedback"><i class="far fa-calendar-alt"></i></span> -->
                      	</div>
                      </div> <br>
                      <div class="row">
                      	<div class="col-md-2">
                      		<label>Enddatum:</label>
                      	</div>
                      	<div class="col-md-10">
                      		<input class="form-control" type="date" name="projektDetail.enddatum" th:value="*{enddatum}" required />
                      		<div class="invalid-feedback">
                  				Bitte Datum wählen
                  			</div>
                      	</div>
                      </div> <br>
                      <label>Projektleiter:</label>
                      <select class="form-control" required="true" name="projektDetail.projektleiter" th:value="*{projektleiter}" >
                          <option th:value="${projektDetail.projektleiter}" th:text="${projektDetail.plDisplayName}" selected>aktueller PL</option>
                          <option th:each="projektMitarbeiter : ${projektMitarbeiter}" th:text="${projektMitarbeiter.pmDisplayName}" th:value="${projektMitarbeiter.id}">PMitarbeiter</option>
                      </select>
                      <br>
                      
                      <hr/>      

              <div class="row text-center">
              	<div class="col-sm">
              		<div class="form-group form-check-inline">
                  		<a href="/" class="btn btn-info" role="button">Menü</a>
              		</div>
              		<div class="form-group form-check-inline">
                  		<a href="/projektAnzeigen" class="btn btn-info" role="button">Zurück</a>
              		</div>
              		<div class="form-group form-check-inline">
              	  		<input type="submit" class="btn btn-info" value="Speichern">
              		</div>
              	</div>
              </div>
          </form>
                  
          <!-- JavaScript for form validation -->
          <script>
                $(function(){
                    $('#start').prop('min', function(){
                        return new Date().toJSON().split('T')[0];
                      });   
                  });

                $("#end").change(function () {
                        var startDate = document.getElementById("start").value;
                        var endDate = document.getElementById("end").value;

                        if ((Date.parse(startDate) >= Date.parse(endDate))) {
                            alert("Enddatum muss nach dem Startdatum liegen!");
                            document.getElementById("end").value = "";
                        }
                    });
                 
                 var form = document.querySelector('.needs-validation');

                 form.addEventListener('submit', function(event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     }
                     form.classList.add('was-validated')
                 })
           </script>
              </div>
          </div>
      </div> <!-- container -->
	  <!-- footer -->
      <footer>
          <div class="page-footer fixed-bottom">
              &#169; Created by TEAM Maracuja
          </div>
      </footer>
  </body>
</html>