<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- Icon reference -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Maracuja CSS -->
    <link rel="stylesheet" href="css/basic.css">
    
    <!-- Favourite Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="pictures/favicon.png">

    <title>Projektmitarbeiter anzeigen</title>
  </head>
    
  <body>
      <!-- header -->
      <div class="jumbotron jumbotron-fluid">
          <div class="col-md-12">
              <a href="/" class="btn">
                  <h1 class="Prover">PROVER</h1>
              </a>
              <p class="subtitle">PROJEKTMITARBEITER VERWALTUNGS TOOL</p>
          </div>
      </div>
      <!-- main content -->
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4>Projektmitarbeiter anzeigen</h4>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive">
                      <table class="table table-hover table-sm">
                          <thead>
                              <tr>
                                  <th scope="col">Nr</th>
                                  <th scope="col">Vorname</th>
                                  <th scope="col">Nachname</th>
                                  <th scope="col">Anzeigename</th>
                                  <th scope="col">E-Mail</th>
                                  <th scope="col">Abteilung</th>
                                  <th scope="col">Arbeitsort</th>
                                  <th scope="col"></th> <!-- bearbeiten -->
                                  <th scope="col"></th> <!-- löschen -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr th:each="projektmitarbeiter : ${projektmitarbeiterListe}">
                              <td th:text="${projektmitarbeiter.getId()}">Vorname</td>
                              <td th:text="${projektmitarbeiter.getVorname()}">Vorname</td>
                              <td th:text="${projektmitarbeiter.getNachname()}">Nachname</td>
                              <td th:text="${projektmitarbeiter.getPmDisplayName()}">Anzeigename</td>
                              <td th:text="${projektmitarbeiter.getEmail()}">E-Mail</td>
                              <td th:text="${projektmitarbeiter.getAbteilung()}">Abteilung</td>
                              <td th:text="${projektmitarbeiter.getArbeitsort()}">Arbeitsort</td>
                              <td>
                                  <a href="" th:href="${'/projektmitarbeiter?id=' + projektmitarbeiter.getId()}">
                          	          <i class="far fa-edit"></i>
                                  </a>
                              </td>
                              <td>
                                  <a href="" onclick="return confirm('Wollen Sie diesen Datensatz wirklich löschen?')" th:href="${'/projektmitarbeiter/loeschen?id=' + projektmitarbeiter.getId()}";>
                          	          <i class="far fa-trash-alt"></i>
                                  </a>
                              </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="row text-center">
             <div class="col-sm">
             	<div class="form-group form-check-inline">
                  	<a href="/" class="btn btn-info" role="button">Menü</a>
              	</div>                	           
             	<div class="form-group form-check-inline">
                  	<a href="/projektmitarbeiter" class="btn btn-info" role="button">Erfassen</a>
              </div>
             </div>
          </div>
      </div> <!-- container -->
	  <!-- footer -->
      <footer>
          <div class="page-footer fixed-bottom">
              &#169; Created by TEAM Maracuja
          </div>
      </footer>
  </body>
</html>